@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
html {
    scroll-behavior: smooth;
}
body {
    background-color: dimgray;
    color: white;
    font-family: 'Cascadia Code', sans-serif;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: bisque;
}
hr {
    color: white;
    width: 80%;
}
.main-text {
    position: relative;
    text-align: center;
}
.main-top {
    display: flex;
    justify-content: space-between;
    padding: 0.6%;
    align-items: center;
}
.main-top-links {
    font-weight: 400;
    font-size: large;
}
.main-top-link-github {
    margin-left: 5px;
    margin-right: 5px;
}
.main-top-link-spotify {
    margin-left: 5px;
    margin-right: 5px;
}
.main-top-link-discord {
    margin-left: 5px;
    margin-right: 5px;
}
.main-lower {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: gray;
    position: absolute;
    left: 0;
    width: 98%;
}
.main-lower-programming {
    margin-right: 18%;
    color: white;
    position: relative;
}
.main-lower-programming-text {
    position: absolute;
    top: 35%;
    right: 28%;
    font-size: larger;
    color: bisque;
}
.main-lower-minecraft {
    color: white;
    position: relative;
}
.main-lower-minecraft-text {
    position: absolute;
    top: 35%;
    right: 30%;
    font-size: larger;
    color: bisque;
}
.main-footer {
    position: absolute;
    top: 90%;
    right: 0%;
    width: 100%;
}
.not_found-top {
    display: flex;
    justify-content: space-between;
    padding: 0.6%;
    align-items: center;
}
.not_found-text {
    position: relative;
    text-align: center;
}
.discord-top {
    display: flex;
    justify-content: space-between;
    padding: 0.6%;
    align-items: center;
}
.discord-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.discord-middle-iframe {
    padding: 0.5%;
    border-radius: 2%;
    border: 2px solid white;
}
.discord-middle-iframe:hover {
    border-color: bisque;
}
.discord-middle-text {
    margin-right: 40%;
}
.discord-middle-text-profile {
    font-size: larger;
    position: absolute;
    top: 13%;
    left: 22.5%;
}
.discord-middle-text-subtext {
    font-size: larger;
    position: absolute;
    top: 11%;
    left: 20.1%;
}
.discord-middle-text-copy {
    position: absolute;
    top: 24%;
    left: 25.5%;
}
.discord-middle-text-server {
    font-size: larger;
    position: absolute;
    left: 10%;
    text-align: center;
}
.programming-top {
    display: flex;
    justify-content: space-between;
    padding: 0.6%;
    align-items: center;
}
.programming-s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.programming-s1-text {
    margin-right: -6%;
    margin-left: 10%;
    text-align: center;
    font-size: larger;
}
.programming-s1-img img{
    margin-bottom: 3%;
    background-color: gray;
    padding: 3%;
    border-radius: 10px 10px 10px 10px;
    background-size: cover;
}
.programming-s1-img {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    right: 0%;
}
.programming-s1-img-p1 {
    margin-right: -20%;
}
.programming-s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.programming-s2-text {
    text-align: center;
    font-size: larger;
}
.programming-s2-img img{
    margin-bottom: 3%;
    background-color: gray;
    padding: 3%;
    border-radius: 10px 10px 10px 10px;
    background-size: cover;
}
.programming-s1-button {
    position: absolute;
    width: 2.5%;
    left: 2%;
    top: 90.3%;
    background-color: gray;
    color: white;
    padding: 0.3%;
    border-radius: 5px 5px 5px 5px;
}
.programming-s1-button:hover{
    background-color: bisque;
}

.programming-s2-buttons {
    display: flex;
    justify-content: space-between;
}
.programming-s2-button-down {
    position: absolute;
    width: 2.5%;
    left: 2%;
    background-color: gray;
    color: white;
    padding: 0.3%;
    border-radius: 5px 5px 5px 5px;
}
.programming-s2-button-down:hover {
    background-color: bisque;
}
.programming-s2-button {
    position: absolute;
    width: 2.5%;
    left: 95%;
    background-color: gray;
    color: white;
    padding: 0.3%;
    border-radius: 5px 5px 5px 5px;
}
.programming-s2-button:hover {
    background-color: bisque;
}
.programming-s3-button {
    position: absolute;
    width: 2.5%;
    left: 95%;
    background-color: gray;
    color: white;
    padding: 0.3%;
    border-radius: 5px 5px 5px 5px;
}
.programming-s3-button:hover {
    background-color: bisque;
}
.programming-s3-button-span {
    padding: 4%;
}
.programming-s3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.programming-s3-text {
    margin-right: -6%;
    margin-left: 10%;
    text-align: center;
    font-size: larger;
}
.programming-s3-img img{
    margin-bottom: 3%;
    background-color: gray;
    padding: 3%;
    border-radius: 10px 10px 10px 10px;
    background-size: cover;
}
.programming-s3-img {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    right: 0%;
}
.programming-s3-img-p1 {
    margin-right: -20%;
}
.minecraft-top {
    display: flex;
    justify-content: space-between;
    padding: 0.6%;
    align-items: center;
}
.minecraft-middle {
    display: flex;
    justify-content: center;
    background-image: url("img/kilux_banner.png");
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
}
.minecraft-middle-text {
    font-size: larger;
    white-space: pre-line;
    text-align: center;
}
.minecraft-middle-img-cont {
    margin-left: 10%;
    margin-top: 9%;
    margin-bottom: 8.8%;
    width: 8%;
}
.minecraft-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 4%;
    width: 21%;
    left: 38%;
    font-size: 180%;
    padding: 1.5%;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid white;
}
.minecraft-buttons a{
    padding: 0.5%;
    border-radius: 5px 5px 5px 5px;
}
.minecraft-middle-img {
    background-color: dimgrey;
    border-radius: 20px 20px 20px 20px;
}