@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
body {
    background-color: dimgray;
    color: white;
    font-family: 'Cascadia Code', sans-serif;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: bisque;
}
hr {
    color: white;
    width: 80%;
}
.main-text {
    position: relative;
    text-align: center;
}
.main-top {
    display: flex;
    justify-content: space-between;
    padding: 0.6%;
    align-items: center;
}
.main-top-links {
    font-weight: 400;
    font-size: large;
}
.main-top-link-github {
    margin-left: 5px;
    margin-right: 5px;
}
.main-top-link-spotify {
    margin-left: 5px;
    margin-right: 5px;
}
.main-top-link-discord {
    margin-left: 5px;
    margin-right: 5px;
}
.main-lower {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: gray;
    position: absolute;
    left: 0;
    width: 98%;
}
.main-lower-programming {
    margin-right: 18%;
    color: white;
    position: relative;
}
.main-lower-programming:hover{
    color: bisque;
}
.main-lower-programming-text {
    position: absolute;
    top: 35%;
    right: 28%;
    font-size: larger;
}
.main-lower-minecraft {
    color: white;
    position: relative;
}
.main-lower-minecraft:hover{
    color: bisque;
}
.main-lower-minecraft-text {
    position: absolute;
    top: 35%;
    right: 30%;
    font-size: larger;
}
.main-footer {
    position: absolute;
    top: 90%;
    right: 0%;
    width: 100%;
}
.not_found-top {
    display: flex;
    justify-content: space-between;
    padding: 0.6%;
    align-items: center;
}
.not_found-text {
    position: relative;
    text-align: center;
}
.discord-top {
    display: flex;
    justify-content: space-between;
    padding: 0.6%;
    align-items: center;
}
.discord-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.discord-middle-iframe {
    padding: 0.5%;
    border-radius: 2%;
    border: 2px solid white;
}
.discord-middle-iframe:hover {
    border-color: bisque;
}
.discord-middle-text {
    margin-right: 40%;
}
.discord-middle-text-profile {
    font-size: larger;
    position: absolute;
    top: 13%;
    left: 22.5%;
}
.discord-middle-text-subtext {
    font-size: larger;
    position: absolute;
    top: 11%;
    left: 20.1%;
}
.discord-middle-text-copy {
    position: absolute;
    top: 24%;
    left: 25.5%;
}
.discord-middle-text-server {
    font-size: larger;
    position: absolute;
    left: 10%;
    text-align: center;
}
